.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 定义滚动条的样式 */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #666666 #f1f1f1;
}

span.el-checkbox__label {
    color: #fff !important;
}

/* WebKit */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

/* IE10+ */
* {
    -ms-overflow-style: none;
}

/* ms */
*::-ms-scrollbar {
    width: 8px;
}

*::-ms-scrollbar-track {
    background-color: transparent;
}

*::-ms-scrollbar-thumb {
    background-color: #888;
}

*::-ms-scrollbar-thumb:hover {
    background-color: #555;
}