@font-face {
    font-family: "iconfont"; /* Project id 4263035 */
    src: url('//at.alicdn.com/t/c/font_4263035_msk11wk2d2l.woff2?t=1696423919784') format('woff2'),
    url('//at.alicdn.com/t/c/font_4263035_msk11wk2d2l.woff?t=1696423919784') format('woff'),
    url('//at.alicdn.com/t/c/font_4263035_msk11wk2d2l.ttf?t=1696423919784') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
    content: "\e614";
}

.icon-txt:before {
    content: "\e611";
}

.icon-close:before {
    content: "\e6a6";
}

.icon-plus:before {
    content: "\e829";
}

.icon-reply:before {
    content: "\e82f";
}

.icon-copy:before {
    content: "\e85c";
}

.icon-recall:before {
    content: "\e643";
}

.icon-video:before {
    content: "\e78f";
}

.icon-sound:before {
    content: "\e67f";
}

.icon-return-message:before {
    content: "\e681";
}

.icon-editor:before {
    content: "\e6f5";
}

.icon-loading:before {
    content: "\e62e";
}

.icon-group:before {
    content: "\e613";
}

.icon-send:before {
    content: "\e7db";
}

.icon-more-functions:before {
    content: "\e60f";
}

.icon-empty-contact:before {
    content: "\e7e8";
}

.icon-contact:before {
    content: "\e634";
}

.icon-message:before {
    content: "\e617";
}

.icon-expression:before {
    content: "\e619";
}

.icon-aite:before {
    content: "\e639";
}

.icon-picture:before {
    content: "\e70f";
}

.icon-file:before {
    content: "\e610";
}

.icon-voice:before {
    content: "\e6e4";
}

.icon-github:before {
    content: "\e600";
}
