@font-face {
    font-family: "iconfont"; /* Project id 4263035 */
    src: url('//at.alicdn.com/t/c/font_4263035_ebeaej6md7q.woff2?t=1696950295339') format('woff2'),
    url('//at.alicdn.com/t/c/font_4263035_ebeaej6md7q.woff?t=1696950295339') format('woff'),
    url('//at.alicdn.com/t/c/font_4263035_ebeaej6md7q.ttf?t=1696950295339') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e65c";
}

.icon-empty:before {
    content: "\e6f7";
}

.icon-js:before {
    content: "\e704";
}

.icon-html:before {
    content: "\e632";
}

.icon-java:before {
    content: "\e63a";
}

.icon-py:before {
    content: "\e653";
}

.icon-css:before {
    content: "\e601";
}

.icon-dll:before {
    content: "\e602";
}

.icon-cpp:before {
    content: "\ecd8";
}

.icon-class:before {
    content: "\e63b";
}

.icon-apk:before {
    content: "\e68e";
}

.icon-pdf:before {
    content: "\e64d";
}

.icon-png:before {
    content: "\e607";
}

.icon-webp:before {
    content: "\e671";
}

.icon-f-mp4:before {
    content: "\e60a";
}

.icon-jpg:before {
    content: "\e61b";
}

.icon-mp3:before {
    content: "\e7ac";
}

.icon-md:before {
    content: "\ebb1";
}

.icon-download:before {
    content: "\e614";
}

.icon-txt:before {
    content: "\e611";
}

.icon-close:before {
    content: "\e6a6";
}

.icon-plus:before {
    content: "\e829";
}

.icon-reply:before {
    content: "\e82f";
}

.icon-copy:before {
    content: "\e85c";
}

.icon-recall:before {
    content: "\e643";
}

.icon-video:before {
    content: "\e78f";
}

.icon-sound:before {
    content: "\e67f";
}

.icon-return-message:before {
    content: "\e681";
}

.icon-editor:before {
    content: "\e6f5";
}

.icon-loading:before {
    content: "\e62e";
}

.icon-group:before {
    content: "\e613";
}

.icon-send:before {
    content: "\e7db";
}

.icon-more-functions:before {
    content: "\e60f";
}

.icon-empty-contact:before {
    content: "\e7e8";
}

.icon-contact:before {
    content: "\e634";
}

.icon-message:before {
    content: "\e617";
}

.icon-expression:before {
    content: "\e619";
}

.icon-aite:before {
    content: "\e639";
}

.icon-picture:before {
    content: "\e70f";
}

.icon-file:before {
    content: "\e610";
}

.icon-voice:before {
    content: "\e6e4";
}

.icon-github:before {
    content: "\e600";
}
