<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkuil.blackchat.mapper.ContactMapper">
    <select id="getCursorPage" resultType="com.kkuil.blackchat.domain.bo.contact.ContactWithActiveMsg">
        SELECT
        c.uid AS uid,
        c.room_id AS roomId,
        c.read_time AS readTime,
        r.active_time AS activeTime,
        r.last_msg_id AS lastMsgId
        FROM contact AS c
        JOIN room AS r
        ON c.room_id = r.id
        WHERE uid = #{uid}
        <if test="request.cursor != null and request.cursor != ''">
            AND r.active_time &lt; DATE_FORMAT(#{request.cursor}, '%Y-%m-%d %H:%i:%s')
        </if>
        ORDER BY r.active_time DESC
        LIMIT 0, #{request.pageSize}
    </select>

    <select id="getContactWithActiveMsg"
            resultType="com.kkuil.blackchat.domain.bo.contact.ContactWithActiveMsg">
        SELECT
        c.uid AS uid,
        c.room_id AS roomId,
        c.read_time AS readTime,
        r.active_time AS activeTime,
        r.last_msg_id AS lastMsgId
        FROM contact AS c
        JOIN room AS r
        ON c.room_id = r.id
        WHERE c.uid = #{uid} AND c.id = #{contactId};
    </select>
</mapper>
