<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkuil.blackchat.mapper.UserFriendMapper">

    <select id="listByUid" resultType="com.kkuil.blackchat.core.contact.domain.bo.FriendBaseInfoBO">
        SELECT ur.friend_uid AS uid,
               u.ip_info     AS ipInfo
        FROM user_friend AS ur
                 JOIN user AS u ON ur.uid = u.id
        WHERE ur.uid = #{uid};
    </select>
</mapper>
