<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkuil.blackchat.mapper.WxMsgMapper">

    <resultMap id="BaseResultMap" type="com.kkuil.blackchat.domain.entity.WxMsg">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="open_id" column="open_id" jdbcType="CHAR"/>
            <result property="msg" column="msg" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,open_id,msg,
        create_time,update_time
    </sql>
</mapper>
